
body{
	background-image: url(../img/photo-1471970394675-613138e45da3/);
	padding:3% 0;

}

h1{
	font-family: 'Architects Daughter', cursive;
	color: #33D6D9;
}





[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: relative;
    left: 0;
    opacity: 1;
}

