body{
	
	padding:3% 0;
	background-color: skyblue;
}

section{
	padding:2% 0;
	background-color: #FCF9F9;
	box-shadow: 15px 15px 40px;
}

header{
	padding:0,5% 50%;
	background-color: yellow;
}
button{
	background-color: skyblue;

	color: black;
}